

section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 0%, rgba(6,125,163,1) 52%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-div {
    padding: 20px;
    box-shadow: 0 0 38px -15px #706f6dd6;
    background: white;   
}

button:active {
    outline: none;
}

.error {
    color: red;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.form {

    h1 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: sans-serif;
    }

    input {
        border: none;
        border-bottom: 1px solid #ced4da;
    }

    input:focus {
        box-shadow: none;
        border-bottom: 1px solid #2f669d;
        outline: none;
    }
    label {
        margin: 0;
    }


    form div {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;


        button {
            padding: 4px 17px;
            border: none;
            background: black;
            color: white;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        button:hover {
            box-shadow: 2px 15px 22px -10px rgba(0,0,0,.6);
        }
    }

}